*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #102542;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  align-items: center;
}

.input-container {
  margin: 10% 0 2% 0;
  width: 100vh;
  height: 10vh;
  border-radius: 25px;
  background-color:white;
  display : flex;
  align-items: center;
  max-width: 60% ;
}

.list-container{
  display:grid;
  max-width: 50% ;
  width: 100vw;
  margin: 0 0;
  background-color:white;
  border-radius: 25px;
  align-items: center;
  justify-content:flex-start
}

.btn{
  background: #D72638;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  border-color: transparent;
  border-radius: 25px;
  text-transform: capitalize;
  color: white;
  margin-left : 0.5em;
  max-height:60% ;
}

.btn:hover{background: #D72615 ;}

.input-form{
  display: flex;
  justify-content: space-between;
}

.form-control{
  display:grid;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  gap: 0.5rem;
  align-items: center;
  place-items: center;}

.task{
  display:inline-flex;
  min-width: 40%;
  background-color:lightgray;
  border-radius: 25px;
  margin: 0.5rem 0;
  margin-left: 1rem;
}

.task > *{
  font-size: 1rem;
  margin: 0.5em 4em;
  
}

.edit-btn >*{
  color:lightgreen
}
.delete-btn >*{
  color:red;
  
}

.delete-btn{
align-items:left;
padding: 0.5rem;
fill-opacity:100%;
background-color:transparent;
border-radius: 100px;
}
.edit-btn{
  align-items:left;
  position:relative;
  padding: 0.5rem ;
  fill-opacity:100%;
  background-color:transparent;
  border-radius: 100px;}

.task-object{
  display:flex-inline;
}